@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

i,
svg {
	pointer-events: none;
}

body,
input {
	font-size: 1.6rem;
	color: #353740;
	font-family: "Poppins", sans-serif;
	line-height: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}

h3 {
	font-size: 3.2rem;
	font-weight: bold;
	color: #202123;
}

.header {
	flex: 0 1 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 1rem;
	max-width: 100rem;
	width: 90%;
}

#refresh-btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 1rem 2rem;
	font-size: 1.6rem;
	cursor: pointer;
	margin: 0.5rem;
	background-color: rgb(70, 68, 207);
	border: none;
	outline: none;
	border-radius: 8px;
	color: #ffffff;
	transition: all 0.2s ease;
}

.chat {
	border-radius: 8px;
	width: 90%;
	display: flex;
	flex-direction: column;
	max-width: 100rem;
	flex: 1 1;
	min-height: calc(100vh - 20rem);
	max-height: calc(100vh - 20rem);
}

#session-info {
	color: rgb(107, 107, 107);
	font-weight: 300;
	margin-bottom: 1rem;
	font-style: italic;
}

#messages::-webkit-scrollbar {
	width: 7px;
}

#messages::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: #a0a0a0;
}

#messages {
	flex: 1;
	padding: 0 2rem;
	/* max-height: 80rem; */
	overflow-y: auto;
	padding-bottom: 2rem;
}

.msg {
	margin-bottom: 1.6rem;
	position: relative;
}

.msg-timestamp {
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(0, 160, 48);
}

.msg-sender {
	font-size: 1.6rem;
	font-weight: bold;
	color: #353740;
}
.msg-timestamp::after {
	content: "•";
	margin: 0 0.6rem;
	font-size: 1.4rem;
	color: rgb(190, 190, 190);
}

.msg-content::before {
	content: "⤷";
	padding-right: 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: rgb(22, 56, 247);
}

.msg-content {
	padding-left: 6rem;
	padding-right: 5rem;
}

.msg[data-sender="bot"] .msg-sender {
	color: #b30000;
}
.msg[data-sender="sender"] .msg-sender {
	color: #7200b4;
}

.form {
	border-top: 1px solid grey;
	flex-basis: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
	margin-top: 1rem;
}

.form input {
	height: 100%;
	outline: none;
	border: none;
}

.form input[type="text"] {
	flex: 1;
	background: #eee;
	padding: 1rem;
}

.submit {
	padding: 1rem 2rem;
	color: white;
	transition: all 0.2s ease;
	background: rgb(0, 145, 0);
	cursor: pointer;
}

.submit:hover {
	background: rgb(0, 110, 0);
}

/* Message typing animation */
@keyframes blink {
	0% {
		opacity: 0.2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

.typing {
	display: inline-flex;
	flex-direction: row;
	border-radius: 12px;
	background: #eee;
	padding: 0.8rem;
}

.typing .dot {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	width: 6px;
	height: 6px;
	background-color: #333;
	border-radius: 50%;
	display: block;
	margin: 0 0.25rem;
	padding: 0;
}

.typing .dot:nth-child(2) {
	animation-delay: 0.2s;
}

.typing .dot:nth-child(3) {
	animation-delay: 0.4s;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1a1a1a;
	}

	body,
	input,
	h3 {
		color: white;
	}

	#session-info {
		color: rgb(151, 151, 151);
	}

	.form input[type="text"] {
		background: rgb(66, 66, 66);
	}

	.typing {
		background: #292929;
	}

	.typing .dot {
		background-color: #c4c4c4;
	}
	.msg[data-sender="bot"] .msg-sender {
		color: #ff5e5e;
	}
	.msg[data-sender="sender"] .msg-sender {
		color: #ab55dd;
	}
	.msg-content::before {
		color: rgb(102, 207, 255);
	}
}
