<!DOCTYPE html>
<head>
	<title>DaVinci</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"
		integrity="sha256-HkXXtFRaflZ7gjmpjGQBENGnq8NIno4SDNq/3DbkMgo="
		crossorigin="anonymous"
	></script>
</head>

<body>
	<div class="header">
		<form action="/clear" method="post">
			<button id="refresh-btn"><i class="fas fa-sync"></i></button>
		</form>
		<h3>DaVinci</h3>
	</div>
	<div class="chat">
		<div id="messages">
			<p id="session-info"></p>
		</div>
		<form class="form" id="msg-form">
			<input
				id="msg-input"
				type="text"
				name="question"
				required
				placeholder="Fai una domanda..."
			/>
			<input class="submit" type="submit" value="Invia" />
		</form>
	</div>

	<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
