<!DOCTYPE html>
<head>
	<title>DaVinci</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='setup.css') }}" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"
		integrity="sha256-HkXXtFRaflZ7gjmpjGQBENGnq8NIno4SDNq/3DbkMgo="
		crossorigin="anonymous"
	></script>
</head>

<body>
	<h3>Benvenuto su DaVinci</h3>
	<p>Inserisci il personaggio con il quale vuoi parlare</p>
	<form class="form" action="/setup" method="post">
		<input
			type="text"
			id="name-input"
			name="name"
			required
			placeholder="es. Nail Armstrong"
		/>
		<input class="submit" type="submit" value="Invia" />
	</form>
	<form action="/logout" method="post" class="logout-form">
		<input type="submit" value="Esci" class="logout" />
	</form>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			document.querySelector("#name-input").focus();
		});
	</script>
</body>
